{% extends "base.html" %}
{% load static %}

{% block title %}
восстановление пароля
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}


{% block header %}
Восстановление пароля завершено
{% endblock %}

{% block main_content %}

<div class="form-container">
    <form class="form" method="post" action="/auth/login/">
    {% csrf_token %}

      <p class="form__info-text">
        Ваш пароль был сохранен. Теперь вы можете войти.
      </p>
      <div class="form__footer">              
        <button type="submit" class="button button_style_blue">
          Войти
        </button>
      </div>
    </form>
</div>

{% endblock %}