{% extends "base.html" %}
{% load static %}

{% block title %}
Сброс пароля
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block header %}
Сброс пароля
{% endblock %}

{% block main_content %}
{% load user_filters %}

<div class="form-container">
    <form class="form" method="post">
        <p class="form__info-text">
            Чтобы сбросить старый пароль — введите адрес электронной почты, 
            под которым вы регистрировались.
        </p>
    {% csrf_token %}       
        <div class="form__group">
            <label for="{{ field.id_for_label }}" class="form__label">
                {{ form.email.label }}
                {% if field.field.required %}
                  <span class="required">
                  <font color="red">*</font>
                  </span>
                {% endif %}
            </label>
            <div class="form__field-group">
                {{ form.email|addclass:"form__input" }}
            </div>
        </div>
        
        <div class="form__footer">
            <button type="submit" class="button button_style_blue">
                Сбросить пароль
            </button>
        </div>
    </form>
</div>

{% endblock %} 

